#timeInfo{
    width: 155px;
    height: 155px;
    background: #E5E5EA;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer_holder{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #585858;
    margin-bottom: 0px;
}
.timer_holder #time_holder p{
    font-weight: bold;
}
#time{
    text-align: center;
}
.bar{
    transform: rotate(rotate(-160 100 100));
}

#cost_amount{ 
    width: 50%;
    text-align: center;
    margin: 2rem 0 2rem 0;
    color: #585858;
    font-weight: bold;
}
.cost_holder{
    display: flex;
    align-items: center;
    justify-content: center;
}
.price{
    color: red;
    height: min-content;
}