#timeInfo{
    width: 155px;
    height: 155px;
    background: #E5E5EA;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer_holder{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #848484;
}
.timer_holder #time_holder p{
    font-weight: bold;
}
#time{
    text-align: center;
}
.bar{
    transform: rotate(rotate(-160 100 100));
}

