/* Landing page */
.choose_lot{
    display: flex;
    justify-content: center;
    align-items: center;
}
#choose_account_holder{
    width: 80%;
}
#new_member_link{
    text-align: center;
    color: black;
}
/* Guest Page */
.content_holder .form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.labels{
    color: #585858;
    margin: 15px 0px 5px 0px;
}
.submitBtn{
background-color: #F0F0F3;
  margin-top: 50px;
  height: 44px;
  border-radius: 60px;
  color: #585858 ;
}

/* Set Time Page */
.align_timer_btns{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.btns_img_container{
    margin-top: 40px;
}
.timer_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

